<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>webprj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>INIT_PARAM</param-name>
  	<param-value>DD에 저장된 초기화 정보들</param-value>
  </context-param>
  <context-param>
  	<param-name>POSTS_PER_PAGE</param-name>
  	<param-value>10</param-value>
  </context-param>
  <context-param>
  	<param-name>PAGES_PER_BLOCK</param-name>
  	<param-value>5</param-value>
  </context-param>
  
  <servlet>
	<servlet-name>HelloServlet</servlet-name>
	<servlet-class>webprj.servlets.HelloWorld</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hello</url-pattern>
  	<url-pattern>/yours</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>A</servlet-name>
	<servlet-class>webprj.servlets.A</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>A</servlet-name>
  	<url-pattern>/a</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>B</servlet-name>
	<servlet-class>webprj.servlets.B</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>B</servlet-name>
  	<url-pattern>/b</url-pattern>
  </servlet-mapping>
  
</web-app>